

.root {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-background-size: 64.0 64.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button1 {
    -fx-background-image: url("../images/btn01.png");
}
.button2 {
    -fx-background-image: url("../images/btn02.png");
}
.button3 {
    -fx-background-image: url("../images/btn03.png");
}
.button4 {
    -fx-background-image: url("../images/btn04.png");
}
.button5 {
    -fx-background-image: url("../images/btnClose.png");
}